rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return signedIn() && request.auth.uid == uid;
    }

    function practiceLoggingOpen(practiceId, uid) {
      let practice = get(/databases/$(database)/documents/practices/$(practiceId));
      return
        (practice.data.startAtMs == null ||
         practice.data.startAtMs <= request.time.toMillis()) &&
        (!exists(/databases/$(database)/documents/practices/$(practiceId)/attendance/$(uid)) ||
         get(/databases/$(database)/documents/practices/$(practiceId)/attendance/$(uid)).data.status != "not_present");
    }

    match /{document=**} {
      allow read: if signedIn();
    }

    match /users/{uid} {
      allow create, update: if isOwner(uid);
      allow delete: if false;
    }

    match /practices/{practiceId} {
      allow create, update: if signedIn();
      allow delete: if signedIn() && resource.data.deleting == true;

      match /logs/{uid} {
        allow create, update: if isOwner(uid) && practiceLoggingOpen(practiceId, uid);
        allow delete: if isOwner(uid) ||
          (signedIn() &&
           get(/databases/$(database)/documents/practices/$(practiceId)).data.deleting == true);
      }

      match /attendance/{uid} {
        allow create, update: if isOwner(uid);
        allow delete: if isOwner(uid) ||
          (signedIn() &&
           get(/databases/$(database)/documents/practices/$(practiceId)).data.deleting == true);
      }
    }
  }
}
